.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.containerEnter {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal__form {
    width: 366px;
    height: 382px;
    background-color: #ffffff;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 43px 44px 47px 40px;
    gap: 30px;
}

.modal__logo {
    width: 140px;
    height: 21px;
    background-color: transparent;
}

.modal__logo img {
    width: 140px;
    height: auto;
}