.trackPlay__likeSvg {
    width: 14px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
}

.trackPlay__likeSvg:hover {
    fill: #AD61FF;
    stroke: #ffffff;
    cursor: pointer;
}

.liked {
    fill: #AD61FF;
}