@keyframes playing-audio {
    from{
        width: 20%;
        height: 20%;
        background: #D9B6FF;
    }to{
        width: 40%;
        height: 40%;
        background: #AD61FF;
    }
}

.playlist__item {
    width: 100%;
    display: block;
    margin-bottom: 12px;
}

.playlist__track {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.2fr 60px;
    gap: 20px;
    align-items: center;
}

.track__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.track__titleImage {
    position: relative;
    padding: 16px;
    background: #313131;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 17px;
}

div.track__titleImage.playing {
    width: 18px;
    height: 17px;
}

.playing::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    border-radius: 50%;
    background: #AD61FF;
    animation: playing-audio 0.6s infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.track__titleSvg {
    width: 18px;
    height: 17px;
    fill: transparent;
    stroke: #4e4e4e;
}

.track__titleLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.track__titleSpan {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.track__author {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.track__authorLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: left;
}

.track__albumLink {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #696969;
}

.track__titleLink,
.track__authorLink,
.track__albumLink {
    text-decoration: none;
}

.track__timeSvg {
    margin-right: 10px;
}

.track__timeText {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #696969;
}