html {
    color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
}

.btn {
    cursor: pointer;
}

.btnIcon:hover svg {
    fill: transparent;
    stroke: #acacac;
    cursor: pointer;
}

.btn-text {
    &:hover {
        border-color: #d9b6ff;
        color: #d9b6ff;
        cursor: pointer;
    }

    &:active {
        border-color: #ad61ff;
        color: #ad61ff;
        cursor: pointer;
    }
}