.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background-color: #383838;
}

.container {
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: #181818;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}